@charset "utf-8";

body {
  text-align: center;
  list-style: inside;
  /* margin: 0; */
  background-color: aquamarine;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

#loading {
  transition: all 1s;
  background-color: darkgrey;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width:660px) { 
.btn-menu {
  position:fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  cursor: pointer;
 }
}

@media screen and (max-width:660px) {
#menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
  background-color: darkblue;
  padding: 8rem 2rem 2rem;
  translate: 100vw;
 }
}

@media screen and (min-width:661px) {
  .btn-menu , .menu-list{
    display: none;
  }
  /* .menu-list {
    display: none;
  } */
}

.menu-list {
  list-style: none;
}

.menu-list li {
  margin: 1rem 0;
}

.menu-list a {
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
}

@media screen and (max-width:660px) {
  .main-menu {
    display: none;
  }  
  #menu-open {
    width: 50px;
  }
  .return {
    width: 50px;
    height: auto;
  }  
}

.main-menu ul li {
  display: inline-block;
  margin: 0px 30px;
}

.main-menu {
  top: 0%;
  position: fixed;
  /* display: flex;
  justify-content: center; */
  list-style-type: none;
  /* text-align: center; */
  z-index: 9998;
  background-color: darkblue;
  width: 100vw;
}

.main-menu li a {
  text-decoration: none;
  color: aliceblue;
}

section {
  top: 0%;
  height: 110vh;
}

#my {
  position: relative;
    top: 30%;
    left: auto;
    /* transform: translateY(-50%); */
    font-size: 5rem;
}

ul {
  text-align: left;
  display: inline-block;
}

.home {
  background-color: aquamarine;
}


.profile{
  background-color: beige;
}

.skill{
  background-color: darkseagreen;
  height: auto;
  /* object-fit: contain; */
  @media  screen and (min-width: 660px) {
    display: flex;
  }
  /* @media screen and (min-width: 480px) {
    display: flex;
  } */
   /* overflow: auto; */
  }


.about{
  background-color: navajowhite;
  height: auto;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 10%;
}

img {
  max-width: 40vw;
  height:  auto;
  padding: 2rem;
  object-fit: contain;
}

.maru {
  border-radius: 50%;
  max-width: 20vw;
  height: auto;
  border: solid;
}

#smartphone {
  max-height: 30vh;
}

/* nav {
  text-decoration: none;
} */

a:hover {
  font-weight: bold;
  cursor: pointer;
}

.fadein {
  opacity: 0;
  padding-top: 5rem;
}

.return {
  position: fixed;
  /* display: block; */
  right: 0;
  bottom: 0;
  opacity: 0;
}

.returnbtn {
  opacity: 1;
  transition-duration: 1000ms;
}

footer p {
  height: 80px;
}

small {
  margin-left: -40%;
}

